<div class="mx-auto text-center" style="width:30%" id="formOne">
  <div class="col p-4" id="confirmation_form"
    <br>
    <br>
    <br>
    <h2>Resend confirmation instructions</h2>
    <hr>
    <br>
    <p><em>Someone has been adding soil to my garden. The plot thickens.</p><em>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control", placeholder: "Email address" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" , class:"btn btn-primary", id:"signup_button" %>
      </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <%= render "devise/shared/links" %>

  </div>
</div>
