<h1><%= @user.username %>'s Profile</h1>
<%= Message.all.to_a %>
<%= current_user %>
<h2>Inbox</h2>
<% @messages.each do |message| %>
   <%= message.content %>
<% end %>

<h2>Connect with Other Users:</h2>
<% @users.each do |user| %>
   <%= link_to user.username, "#{user.id}" %> 
   <br>
<% end %>