<div class="mx-auto text-center" style="width:30%" id="formOne">
  <div class="col p-4" id="password_form"
  <br>
  <br>
  <br>
  <h1>Forgot your password?</h1>
  <hr>
  <br>
  <p><em>Did you hear about the flower that never bloomed?
    <br>
    It was a bud omen.</p><em>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class:"form-control", placeholder: "Email address" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:"btn btn-primary", id:"signup_button" %>
    </div>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <%= render "devise/shared/links" %>
</div>
</div>
