
<div class="col-container">
  <div class="row">
    <div class="col-md-3" id="profile_sidebar">
      <div class="user-heading round">
        <div class="row" id="profile_row">
          <br>
          <h2 style="text-align:center;", id="plantindex_header"><%#= @user.username %></h2>
          <% if @user.photo.attached? %>
            <%= link_to(image_tag(@user.photo, width: "100%", id: "profile_pic")) %>
          <% else %>
            <%= link_to image_tag("#{Faker::LoremFlickr.image(search_terms: [@user.username])}" , id: "profile_pic"), '/users/profile' %>
          <% end %>
        </div>
        <ul style="text-align:left;">
          <br>
          <li><a href="../users/profile"><img src="https://img.icons8.com/pastel-glyph/64/000000/envelope-number--v2.png" class="sidebar_icon"/></a></li>
          <br>
          <li><a href="../plants/tasks"><img src="https://img.icons8.com/color/48/000000/task--v2.png" class="sidebar_icon"/></a></li>
          <br>
          <li><a href="../plants/new"><img src="https://img.icons8.com/office/80/000000/potted-plant.png" class="sidebar_icon"/></a></li>
          <br>
        </ul>  
      </div>
    </div>
    <div class="col-md-9">
    <h1></h1>
      <div class="row" id="weather_row">
        <div class="row">
          <p><span></span><a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="PORTLAND" data-label_2="WEATHER" data-icons="Climacons Animated" data-theme="clear" >PORTLAND WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script> </p>
        </div>
      </div>
    <div>
    <div class="row" id="plant_row">
      <% @plants.each do |plant|%>
        <div class="col-sm-3">
          <div class="card" style="margin-top:20px;">
            <% if plant.photo.attached? %>
              <%= image_tag plant.photo %>
            <% else %>
              <img class="card-img-top" src="<%= "#{Faker::LoremFlickr.image(search_terms: ["#{plant.name}"])}" %>", width="200px" height="auto" alt="">
            <% end %>
            <div class="card-body" style="height: 100px">
              <p class="card-text"><img src="https://img.icons8.com/material/24/000000/potted-plant.png"/><img src="https://img.icons8.com/material/24/000000/potted-plant.png"/><img src="https://img.icons8.com/material/24/000000/potted-plant.png"/><img src="https://img.icons8.com/material/24/000000/potted-plant.png"/><img src="https://img.icons8.com/material-outlined/24/000000/potted-plant.png"/></p>
              <h5 class="card-title" style="font-size:18px;"><%= link_to plant.name, plant_path(plant) %></h5>
            </div>
          </div>
        </div>
      <%end%>
      <span id="paginate"><%= paginate @plants %></span>
    </div>
  </div>
</div>





    
    



