<div class="container-fluid">
  <div class="row", id="plant_profile">
    <div class="col-4">
      <% if @plant.photo.attached? %>
        <%= image_tag @plant.photo %>
      <% else %>
        <img class="card-img-top" src="<%= "#{Faker::LoremFlickr.image(search_terms: ["#{@plant.name}"])}" %>", width="200px" heigth="auto" alt="">
      <% end %>
    </div>
    <div class="col-8">
      <h1><%= @plant.name.titleize %><strong></h1>
      <%= @api_response['data'][0]['attributes']['binomial_name'].downcase %>
      <br>
      <br>
      <% if @api_response['data'][0]['attributes']['description'] != nil %>
        <%= @api_response['data'][0]['attributes']['description'] %>
      <% else %>
        <p><%= @plant.name %> is a popular plant for novices and experts. It needs a little love and attention but will thrive under the proper conditions.</p>
      <% end %>
    </div>
  </div>
  <div id="plant_health">
    <h4>Your <%= @plant.name.downcase %>'s health rating is '<%= @plant.health %>.'</h4>
    <% if @plant.health_next_update?%>
      <% if Time.now.to_i < (@plant.health_next_update + 86000) %>
        <%= form_for [@plant] do |f| %>
          <%= f.hidden_field :health_next_update, value: Time.now.to_i %>
          <%= f.radio_button :health, "Dismal" %> Dismal
          <%= f.radio_button :health, "Bad" %> Bad
          <%= f.radio_button :health, "Doing OK" %> Doing OK
          <%= f.radio_button :health, "Good" %> Good
          <%= f.radio_button :health, "Excellent" %> Excellent
          <br>
          <br>
          <%= f.submit "Update Health" %>
        <% end %>
      <% else %>
        <p> We'll ask you again next week for an update on your plant!</p>
      <% end %>
      <% else %>
        <%= form_for [@plant] do |f| %>
          <%= f.hidden_field :health_next_update, value: Time.now.to_i %>
          <%= f.radio_button :health, "Dismal" %> Dismal
          <%= f.radio_button :health, "Bad" %> Bad
          <%= f.radio_button :health, "Doing OK" %> Doing OK
          <%= f.radio_button :health, "Good" %> Good
          <%= f.radio_button :health, "Excellent" %> Excellent
          <br>
          <br>
          <%= f.submit "Update Health" %>
        <% end %>
    <%end%>
  </div>
  <div id="plant_graph">
    <p>Your Plants' Health</p>
    <%= bar_chart Plant.group(:name).where(id: @user.plants).group(:health).count, stacked: true %>
  </div>
  <div class="row">
    <div class="col-4">
      <%= link_to "Edit Plant", edit_plant_path %>
    </div>
    <div class="col-4">
      <%= link_to "Delete Plant", plant_path(@plant), :data => {:confirm => "You sure?", :method => "delete"} %>
    </div>
    <div class="col-4">
      <%= link_to "Back to Plants", plants_path %>
    </div>
  </div>
  <br>
</div>