<div class="mx-auto text-center" style="width:30%" id="formOne">
  <div class="col p-4" id="login_form"
    <br>
    <br>
    <br>
    <h1>Log in</h1>
    <hr>
    <br>
    <p><em>What do you call flowers who are BFFs?
      <br>
      Buds.</p><em>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email address" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "Password"  %>
      </div>
      <br>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary", id:"signup_button" %>
      </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <hr>
    Not a member? <%= render "devise/shared/links" %>
  </div>
</div>
